<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
  <h5 class="my-3 border-bottom pb-2">질문등록</h5>
  <form  th:object="${questionForm}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <div th:replace="form_errors :: formErrorsFragment"></div>
    <div class="mb-3">
      <label for="subject" class="form-label">제목</label>
      <input type="text" th:field="*{subject}" class="form-control">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">내용</label>
      <textarea  th:field="*{content}" rows="10" class="form-control"></textarea>
    </div>
    <div class="dropdown">
      <input type="submit" value="저장하기" class="btn btn-primary">
      <button class="btn btn-secondary dropdown-toggle " type="button"
              id="dropdownMenuButton1" data-bs-toggle="dropdown"
              >
        카테고리
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" th:field="*{category == '공지'}">공지</a></li>
        <li><a class="dropdown-item" href="#">생활</a></li>
        <li><a class="dropdown-item" href="#">공부</a></li>
        <li><a class="dropdown-item" href="#">건의</a></li>
      </ul>
     </div>
  </form>
</div>
</html>
